{% extends 'processo/base.html' %}
{% block content %}
    <hr>
    <div class="container-fluid">
        {% for key, value in caixas.items %}
            <h1><div class="fa fa-archive" style="color: #0c2b44;"></div> Caixa n°{{ key }}</h1>
            <div class="table table-bordered">
                <table width="100%;">
                    <tr><th>N° Processo</th><th>N° Protocolo</th><th>Nome da parte</th><th>Última modificação</th></tr>
                    {% for ky in value %}
                        <td>{{ ky.numero_processo }}</td><td>{{ ky.protocolo_processo }}</td><td valign="top"><a href="#" data-toggle="modal" data-target="#exibirModal{{ ky.id }}">{{ ky.nome_parte_processo }}</a></td><td>{{ ky.modificacao_registro }}</td></tr>
                        <!-- Exibir Modal-->
                        <div class="modal fade" id="exibirModal{{ ky.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header bg-primary text-white">
                                        <h5 class="modal-title" id="exampleModalLabel">{{ ky.nome_parte_processo }} / {{ ky.numero_processo }}</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {% include 'processo/exibir.html' with form=ky %}
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Ok</button>
                                        <a class="btn btn-danger" href="#" data-toggle="modal" data-target="#excluirModal{{ ky.id }}">Excluir</a>
                                        <a class="btn btn-info" href="{% url 'editar' ky.id %}">Editar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Excluir Modal-->
                    <div class="modal fade" id="excluirModal{{ ky.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header bg-primary text-white">
                                    <h5 class="modal-title" id="exampleModalLabel">Atenção!!!</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">Deseja realmente excluir esse processo?</div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                    <a class="btn btn-primary" href="/excluir/{{ ky.id }}">Excluir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </table>
            </div>


        {% endfor %}
    </div>

{% endblock %}
