<!-- DataTables -->
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-list"></i>Listagem de Processos
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Número</th>
            <th>Nome da parte</th>
            <th>Assunto</th>
            <th>Data abertura</th>
            <th>Caixa</th>
            <th>Ação</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Número</th>
            <th>Nome da parte</th>
            <th>Assunto</th>
            <th>Data abertura</th>
            <th>Caixa</th>
            <th>Ação</th>
          </tr>
        </tfoot>
        <tbody>
        {% for dado in dados %}
          <tr>
            <td>{{ dado.numero_processo }}</td>
            <td>{{ dado.nome_parte_processo }}</td>
            <td>{{ dado.assunto_processo }}</td>
            <td>{{ dado.data_abertura_processo }}</td>
            <td>{{ dado.numero_caixa_processo }}</td>
            <td>
              <a href="exibir/{{ dado.id }}">Exibir</a>
              <a href="/editar/{{ dado.id }}">Editar</a>
              <a href="#" data-toggle="modal" data-target="#excluirModal{{ dado.id }}">Excluir</a>
              <a href="#" data-toggle="modal" data-target="#exibirModal{{ dado.id }}">Exibir</a>
            </td>
          </tr>
          <!-- Excluir Modal-->
          <div class="modal fade" id="excluirModal{{ dado.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Atenção!!!</h5>
                  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">Deseja realmente excluir esse processo?</div>
                <div class="modal-footer">
                  <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                  <a class="btn btn-primary" href="/excluir/{{ dado.id }}">Excluir</a>
                </div>
              </div>
            </div>
          </div>
            <!-- Exibir Modal-->
    <div class="modal fade" id="exibirModal{{ dado.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ form.nome_parte_processo }}</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="numero_processo">Número do processo</label>
                                <input class="form-control" type="text" value="{{ form.numero_processo }}" disabled>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="protocolo_processo">Número do protocolo</label>
                                <input class="form-control" type="text" value="{{ form.protocolo_processo }}" disabled>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="data_abertura_processo">Data abertura</label>
                                <input class="form-control" type="text" value="{{ form.data_abertura_processo }}" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nome_parte_processo">Nome da parte</label>
                            <input class="form-control" type="text" value="{{ form.nome_parte_processo }}" disabled>
                        </div>
                        <div class="form-group">
                            <label for="assunto_processo">Assunto</label>
                            <input class="form-control" type="text" value="{{ form.assunto_processo }}" disabled>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="numero_caixa_processo">Número da caixa</label>
                                <input class="form-control" type="text" value="{{ form.numero_caixa_processo }}" disabled>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="divisao_processo">Divisão responsável</label>
                                <input class="form-control" type="text" value="{{ form.divisao_processo }}" disabled>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="tipo_processo">Tipo de processo</label>
                                <input class="form-control" type="text" value="{{ form.tipo_processo }}" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Anexos do processo</label>
                                <div class="custom-file">
                                    <a class="btn btn-primary" href="{{ form.arquivo_processo.url }}">Visualizar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Ok</button>
{#                    <a class="btn btn-primary" href="{% url 'editar' form.id %}">Editar</a>#}
{#                    <a class="btn btn-info" value="Editar" href="{% url 'editar' form.id %}">Editar</a>#}
                    <a class="btn btn-danger" href="#Excluir" data-toggle="modal" data-target="#excluirModal">Excluir</a>
                </div>
            </div>
        </div>
    </div>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>




