{% extends 'processo/base.html' %}
{% load tags %}

{% block content %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <!--{% for field in form %}-->
      <!--{% if not field.is_hidden %}-->
          <!--{{ field.label_tag }}-->
      <!--{% endif %}-->
      <!--{% include 'field.html' %}-->
  <!--{% endfor %}-->
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="numero_processo">Número do processo</label>
      {{ form.numero_processo | addclass:'form-control' }}
    </div>
    <div class="form-group col-md-6">
      <label for="protocolo_processo">Número do protocolo</label>
      {{ form.protocolo_processo | addclass:'form-control' }}
    </div>
  </div>
  <div class="form-group">
    <label for="nome_parte_processo">Nome da parte</label>
    {{ form.nome_parte_processo | addclass:'form-control' }}
  </div>
  <div class="form-group">
    <label for="assunto_processo">Assunto</label>
    {{ form.assunto_processo | addclass:'form-control' }}
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="data_abertura_processo">Data abertura</label>
      {{ form.data_abertura_processo | addclass:'form-control' }}
    </div>
    <div class="form-group col-md-6">
      <label for="numero_caixa_processo">Número da caixa</label>
      {{ form.numero_caixa_processo | addclass:'form-control' }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="divisao_processo">Divisão responsável</label>
      {{ form.divisao_processo | addclass:'form-control' }}
    </div>
    <div class="form-group col-md-4">
      <label for="tipo_processo">Tipo de processo</label>
      {{ form.tipo_processo | addclass:'form-control' }}
    </div>
    <div class="form-group col-md-4">
      <label>Anexos</label>
      <div class="custom-file">
        {{ form.arquivo_processo | addclass:'form-control' }}
          <label class="custom-file-label" for="id_arquivo_processo">Escolher arquivo...</label>
        <div class="invalid-feedback">Arquivo inválido</div>
      </div>
    </div>
  </div>
  <input type="submit" class="btn btn-primary" value="Cadastrar">
</form>
{% endblock %}